<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RecrutementServlet</servlet-name>
        <servlet-class>servlet.recrutement.RecrutementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreselectionServlet</servlet-name>
        <servlet-class>servlet.recrutement.PreselectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestCandidatServlet</servlet-name>
        <servlet-class>servlet.recrutement.TestCandidatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultatTestServlet</servlet-name>
        <servlet-class>servlet.recrutement.ResultatTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContratServlet</servlet-name>
        <servlet-class>servlet.recrutement.ContratServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CandidatServlet</servlet-name>
        <servlet-class>servlet.candidat.CandidatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCandidatServlet</servlet-name>
        <servlet-class>servlet.candidat.ListeCandidatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosteServlet</servlet-name>
        <servlet-class>servlet.candidat.PosteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompetenceServlet</servlet-name>
        <servlet-class>servlet.candidat.AddCompetenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>servlet.candidat.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>servlet.candidat.ChatServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DetailsSimulationServlet</servlet-name>
        <servlet-class>servlet.simulation.DetailsSimulationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecrutementServlet</servlet-name>
        <url-pattern>/recrutement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidatServlet</servlet-name>
        <url-pattern>/candidat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCandidatServlet</servlet-name>
        <url-pattern>/listeCandidat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreselectionServlet</servlet-name>
        <url-pattern>/preselection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestCandidatServlet</servlet-name>
        <url-pattern>/testCandidat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultatTestServlet</servlet-name>
        <url-pattern>/resultatTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContratServlet</servlet-name>
        <url-pattern>/contrat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosteServlet</servlet-name>
        <url-pattern>/poste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompetenceServlet</servlet-name>
        <url-pattern>/addCompetence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notifCandidat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsSimulationServlet</servlet-name>
        <url-pattern>/detailsSimulation</url-pattern>
    </servlet-mapping>
</web-app>