.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-box {
    background-color: #495057;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 800px;
}

h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
}

/* Add margin between each section */
.section {
    margin-bottom: 30px;
}

.form-check-inline {
    display: inline-block;
    margin-right: 20px;
}

.form-check-label {
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
}

.btn-primary {
    width: 100%;
    height: 45px;
    background-color: #6C757D;
    outline: none;
    border: 0;
    box-shadow: none;
    border-radius: 6px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
}
h2{
    text-transform: uppercase;
}
h6 {
    font-size: x-small;
    color: black;
}
h5{
    font-size: smaller;
    font-style: italic;
    margin-top: 10px;
}
label{
    font-size: smaller;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-content .form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content input[type=date], .form-content input[type=textarea], .form-content select, .form-content input[type=number]{
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}


.btn-primary{
  width: 100%; 
  height: 45px;
  background-color: #6C757D;
  outline: none;
  border: 0px;
   box-shadow: none;
   border-radius: 6px;
   margin-top: 15px;
}